.button-container {
  text-align: center;
  margin: 30px 0px 15px 0;
}

button {
  padding: 10px;
}

.button-container {
  text-align: center;
  margin: 0px 0px 15px 0;
  padding-top: 300px;
}

.background {
  background-image: url(/components/assets/burger-bg.jpg);
  height: 800px;
  background-size: cover;
}

@import '~bulma/bulma.sass';