.button-container {
  text-align: center;
  margin: 30px 0px 15px 0;
}

button {
  padding: 10px;
}

.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}

.card-content {
  margin-top: auto;
}

.form-link {
  margin-left: 3px;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

@import '~bulma/bulma.sass';
